/* styles.css */

* {
    /* background-color: #1b1b1b; */
    color: black;
    font-family: arial, serif;
    user-select: none;
}

::-webkit-scrollbar {
    display: none;
}

#settingsBtn {
    position: absolute;
    width: 20px;
    height: 20px;

    background-image: url('./img/gearIcon.png');
    background-size: cover;

    bottom: 1px;

    background-color: transparent;

    border: none;
    margin: 2px;
    padding: 0;

    z-index: 1;
    -webkit-app-region: no-drag;
}

#gearIcon {
    /* position: absolute; */
    width: 20px;
    /* bottom: 1px; */
    /* margin: 2px; */
}

/**--------------------------------------------
 *                     SPECS
 *---------------------------------------------**/  

.container {
    -webkit-app-region: drag;
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
    border: 3px solid black;
    border-radius: 6px;
}

/* .container #settingsBtn {
    -webkit-app-region: no-drag;
} */

.temp {
    position: absolute;
    font-size: 35px;
    right: 0;
    left: 0;
    margin: 10px;
    text-align: center;
}

.component {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 3px;
    text-align: center;
    font-size: 12px;
}
